* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #cffafe;
  --secondary-color: #ede9fe;
  --tercery-color: #e2e8f0;
  --font-color-main: #0f172a;
  --hover-color: #94a3b8;
  color: var(--font-color-main);
  font-family: "Roboto", sans-serif;
}

/* Header */
#header-container {
  background-color: var(--tercery-color);
  padding: 1.3rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
}

.form-container {
  padding: 1rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

label {
  margin: 0 0.6rem 0 0;
}

#search {
  appearance: none;
  box-shadow: none;
  border: none;
  border-radius: 5px;
  padding: 0.1rem 0 0.1rem 0.3rem;
}

/* I tried to fix this but it still okay-ish, can be better */
#search-error-display {
  font-size: 0.6rem;
  text-align: center;
  position: absolute;
  border-bottom: 1px dashed black;
  top: 3px;
}

#submit-search {
  appearance: none;
  box-shadow: none;
  border: none;
  border-radius: 5px;
  margin-left: 0.2rem;
  padding: 0.1rem 0.3rem;
  color: white;
  background-color: var(--hover-color);
}

#submit-search:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.temperature-toggle {
  margin: 1rem 0 0 0;
  font-size: 0.75rem;
}

.temperature-toggle:hover {
  cursor: pointer;
}

#F:hover,
#C:hover {
  text-decoration: underline;
}

.selectedTemp {
  transform: scale(1.2);
  color: white;
  background-color: var(--hover-color);
  border-radius: 5px;
  padding: 0.2rem;
}

#F,
#C {
  margin: 0 0.2rem;
}

/* Body Container */
.body-header-container {
  display: grid;
  grid-template-columns: 1fr 3fr;
  align-items: center;
  justify-content: center;
  padding: 1rem 2rem;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

.current-weather-details {
  padding: 0 0 0 1.5rem;
}

.current-weather-icon {
  justify-self: end;
}

.current-temp {
  font-weight: 600;
}

#local-time:hover,
.current-temp:hover,
.current-weather-description:hover,
.more-info:hover {
  color: white;
  background-color: var(--hover-color);
  border-radius: 5px;
  padding: 0 0.2rem;
}

.more-info:hover {
  cursor: pointer;
  transform: scale(1.01);
}

img {
  border-radius: 15px;
}

/* I dont know what I did, or why I did - but it works */

img:hover {
  transform: rotate3d(1, 1, 1, 2deg);
}

/* Hour Containers */
.current-hourly-breakdown {
  overflow: scroll;
  max-height: 500px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-items: center;
}

.hour-container {
  display: grid;
  grid-template-columns: 1fr 5fr;
  grid-template-rows: 1fr;
  align-items: center;
  border-radius: 15px;
  padding: 1rem 1.2rem;
  margin: 0.5rem 3%;
  border: 1px solid black;
  background-color: var(--tercery-color);
}

.icon-container {
  grid-area: 1 / 1 / 3 / 2;
  padding: 1.5rem 1rem 1.5rem 1rem;
  background-color: white;
  background-size: cover;
  background-position: center;
  border-radius: 5px;
  display: grid;
  justify-content: center;
  align-items: center;
}

.icon-container span {
  color: white;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
  /*https://stackoverflow.com/questions/4919076/outline-effect-to-text*/
}

.additional-info-container div {
  padding: 0 0.2rem;
}

.hour-and-precip-container {
  display: flex;
  justify-content: space-around;
}

.conditions-container {
  display: flex;
  justify-content: space-around;
}

/*
    [icon       |                     ]
    [Temperature|    Hour      Precip ]
    [icon       | conditions  humidity]
*/

.weather-card {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
